<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><a href="/plusup">의류플러스업</a>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item"><a href="/plusup">의류플러스업</a></li>
      <li class="breadcrumb-item active"><a href="/plusup">비율정보</a></li>
    </ol>

    <div class="req-btn grade">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-dv-on dvoption1">일반부위(1배)</button>
            <button class="btn btn-dv dvoption2">원피스(2배)</button>
            <button class="btn btn-dv dvoption6">변이(6배)</button>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>
          1.장인등급
          <table class="table" id="plusup_tab">
            <colgroup>
              <col style="width:50px;">
            </colgroup>
            <thead>
              <tr>
                <th>플업</th>
                <th>6급</th>
                <th>7급</th>
                <th>8급</th>
                <th>9급</th>
                <th>10급</th>
                <th>11급</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tfoot class="more_view" style="display:none;">
                <tr>
                  <td colspan="4" onclick="javascript:card.getMyCardInfo("0");">더보기</td>
                </tr>
              </tfoot> -->
            </tbody>
          </table>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          2.명인등급
          <table class="table" id="plusup_tab1">
            <colgroup>
              <col style="width:50px;">
            </colgroup>
            <thead>
              <tr>
                <th>플업</th>
                <th>6급</th>
                <th>7급</th>
                <th>8급</th>
                <th>9급</th>
                <th>10급</th>
                <th>11급</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tfoot class="more_view" style="display:none;">
                <tr>
                  <td colspan="4" onclick="javascript:card.getMyCardInfo("0");">더보기</td>
                </tr>
              </tfoot> -->
            </tbody>
          </table>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          3.O.T등급
          <table class="table" id="plusup_tab2">
            <colgroup>
              <col style="width:50px;">
            </colgroup>
            <thead>
              <tr>
                <th>플업</th>
                <th>6급</th>
                <th>7급</th>
                <th>8급</th>
                <th>9급</th>
                <th>10급</th>
                <th>11급</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tfoot class="more_view" style="display:none;">
                <tr>
                  <td colspan="4" onclick="javascript:card.getMyCardInfo("0");">더보기</td>
                </tr>
              </tfoot> -->
            </tbody>
          </table>
        </p>
      </div>
    </div>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {

      $("button").click(function() {
        var button_nm = $(this).attr("class");

        if(button_nm.indexOf("dvoption") > -1) {
          var dvoption_num = button_nm.substring(button_nm.indexOf("dvoption")+("dvoption".length));

          //css(click)
          $(this).parents("p").children("button").each(function(idex, item) {
            $(this).attr("class","btn btn-dv dvoption"+$(this).attr("class").substring($(this).attr("class").indexOf("dvoption")+("dvoption".length)));
          });
          $(this).attr("class","btn btn-dv-on dvoption" + dvoption_num); //클릭CSS

          plusup.getPlusup(dvoption_num);
        }
      });

      plusup.getPlusup("1");
    });
  </script>
</body>
</html>
