<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>
  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><a href="/plusup">의류플러스업</a>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active"><a href="/plusup">의류플러스업</a></li>
    </ol>

    <!-- <div class="req-btn grade">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-grade gradeoption0">장인</button>
            <button class="btn btn-grade gradeoption1">명인</button>
            <button class="btn btn-grade gradeoption2">O.T.</button>
          </p>
        </div>
      </div>
    </div>
    <div class="req-btn buwui">
      <div class="row" style="margin-top:-16px;">
        <div class="col-lg-12">
          <p>
            <button class="btn btn-buwui buoption0">전체</button>
            <button class="btn btn-buwui buoption1">무기</button>
            <button class="btn btn-buwui buoption2">칭호</button>
            <button class="btn btn-buwui buoption3">머리어깨</button>
            <button class="btn btn-buwui buoption4">상의</button>
            <button class="btn btn-buwui buoption5">하의</button>
            <button class="btn btn-buwui buoption6">벨트</button>
            <button class="btn btn-buwui buoption7">신발</button>
            <button class="btn btn-buwui buoption8">팔찌</button>
            <button class="btn btn-buwui buoption9">목걸이</button>
            <button class="btn btn-buwui buoption10">보조장비</button>
            <button class="btn btn-buwui buoption11">반지</button>
            <button class="btn btn-buwui buoption12">귀걸이</button>
            <button class="btn btn-buwui buoption13">마법석</button>
          </p>
        </div>
      </div>
    </div> -->

  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
  <script>
    jQuery(document).ready(function() {
      var base_value1 = 1.11;
      var base_value2 = 1.66;
      var base_value3 = 2.50;
      var value1_ary = [];
      var value2_ary = [];
      var value3_ary = [];
      var result_obj = {};
      var str_rt = 0.5;
      for(var i=0; i<11; i++) {
        var value = str_rt+(i*0.1);
        value1_ary.push((base_value1 * value).toFixed(2));
        value2_ary.push((base_value2 * value).toFixed(2));
        value3_ary.push((base_value3 * value).toFixed(2));
      }
      result_obj.value1 = value1_ary;
      result_obj.value2 = value2_ary;
      result_obj.value3 = value3_ary;

      for(var jj=0; jj<3; jj++) {
        for(var j=0; j<15; j++) {

        }
      }
    });
  </script>
</body>
</html>
